In [1]:
#13
import pandas as pd
df = pd.read_csv('gapminder.tsv', sep='\t')
df.iloc[[0,99,999], [0,3,5]]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [2]:
#14 loc 속서을 활용하여 인덱스가 0,99,999인 행에서 'country','lifeExp'

df.loc[[0,99,999], ['country','lifeExp','gdpPercap']]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [3]:
#15

df.loc[10:13,['country','lifeExp','gdpPercap']]

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [5]:
#16

df.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64