In [7]:
#13
import pandas as pd
df = pd.read_csv('gapminder.tsv', sep='\t')
df.iloc[[0,99,999], [0,3,5]]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [8]:
#14 loc 속서을 활용하여 인덱스가 0,99,999인 행에서 'country','lifeExp'

df.loc[[0,99,999], ['country','lifeExp','gdpPercap']]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [9]:
#15

df.loc[10:13,['country','lifeExp','gdpPercap']]

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [10]:
#16

df.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [14]:
#17


multi = df.groupby(['year','continent'])[['lifeExp','gdpPercap']].mean()
multi

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [17]:
# 18
df.groupby('continent')['country'].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

제 인생의 좌우명은 `남에게 피해를 주지 말자 입니다.` 저는 훌륭한 대학과 회사를 나오신 부모님 밑에서 경제적 어려움 없이 태어났고 선생님이었던 할머니 밑에서 자랐습니다. 그러다 보니 부모님께서 저만 돌봐주실 수 없었고 학교에서 항상 문제를 만들어내던 문제아였습니다. 그럴 때마다 부모님은 남에게 피해를 주지 말고 일단 양보하라는 사실을 강조하셨습니다. 그때는 그게 어떤 뜻인지 잘 몰랐지만, 지금은 잘 알 수 있습니다. 몇 년 전 사람이 많은 대중교통을 탈 때였습니다. 사람이 많아 가방이 방해되니 저는 평소처럼 더러워지더라도 가방을 바닥에 두었습니다. 그러자 뒤에 있는 분이 감사의 마음을 전했습니다. 그 사소한 말이 저에게 큰 인상을 남겼습니다. 제 사소한 행동이 우리 사회를 더 따듯하게 바꿀 수 있다니 정말 뿌듯했습니다. 그 후로 부모님이 말씀하신 이유를 이해했고 지금도 명심하고 실천하고 있습니다.