In [1]:
import pandas as pd
a = pd.Series([20,50,20], index=['국어','영어','미술'])
a

국어    20
영어    50
미술    20
dtype: int64

In [2]:
a['국어'] = 90
a

국어    90
영어    50
미술    20
dtype: int64

In [3]:
a = pd.DataFrame({
    '미국':[2.1,2.2,23],
})
a

     미국
0   2.1
1   2.2
2  23.0

In [4]:
a.loc[0]

미국    2.1
Name: 0, dtype: float64

In [5]:
b = pd.DataFrame({
    '년도':[2000,2010,2020],
    '미국':[2.1,2.2,2.3],
    '한국':[0.4,0.5,0.45]
})
b

     년도   미국    한국
0  2000  2.1  0.40
1  2010  2.2  0.50
2  2020  2.3  0.45

In [6]:
b=b.set_index('년도')
b

       미국    한국
년도
2000  2.1  0.40
2010  2.2  0.50
2020  2.3  0.45

In [7]:
b.loc[2000]

미국    2.1
한국    0.4
Name: 2000, dtype: float64

In [8]:
b.iloc[0]

미국    2.1
한국    0.4
Name: 2000, dtype: float64

In [9]:
df = pd.read_csv('gapminder.tsv', sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [10]:
print(df.shape)

(1704, 6)

In [11]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [12]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [14]:
print(df['country'])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [15]:
df.loc[:,['year','pop']].head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [16]:
df.iloc[[0,99,999],[0,3,5]]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [17]:
df.loc[[0,99,999],['country','lifeExp','gdpPercap']]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [18]:
df.loc[10:14,['country','lifeExp','gdpPercap']]

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244
14      Albania   64.820  2312.888958

In [19]:
df.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [20]:
df.groupby(['lifeExp','gdpPercap'])['year','continent'].mean()

C:\Users\sangyoon\AppData\Local\Temp/ipykernel_15352/1612715027.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['lifeExp','gdpPercap'])['year','continent'].mean()

                        year
lifeExp gdpPercap
23.599  737.068595    1992.0
28.801  779.445314    1952.0
30.000  485.230659    1952.0
30.015  3520.610273   1952.0
30.331  879.787736    1952.0
...                      ...
81.701  37506.419070  2007.0
81.757  36180.789190  2007.0
82.000  28604.591900  2002.0
82.208  39724.978670  2007.0
82.603  31656.068060  2007.0

[1704 rows x 1 columns]

In [22]:
df.groupby('continent')['country'].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64