## pandas 라이브러리 다루기

### 1. pandas 라이브러리란?
- 테이블형 데이터를 다룰 수 있는 다양한 기능을 가진 라이브러리
    - 파이썬 데이터 분석을 위해 기본적으로 사용하는 라이브러리
- row data를 데이터 분석 전과정을 위해 사용할 수 있도록 변환하는 데이터 전처리에도 많이 사용됨
    - row data : 아직 데이터 분석을 위해 정제되지 않은 기본 데이터를 의미함
        - 보통 데이터 분석 목적에 맞지 않는 불필요한 데이터가 있거나, 데이터가 없는 열들이 포함됨

### pandas 라이브러리
- 보통 pd로 사용

### series 이해하기
- 데이터를 다루기 위해 데이터프레임과 시리즈 제공
- 시리즈는 1차원 데이터- 는 2차원 데이터리

In [52]:
import pandas as pd

seriesdata = pd.Series([70,60,90])
seriesdata

0    70
1    60
2    90
dtype: int64

In [53]:
seriesdata = pd.Series([70,50,90], index=['국어','영어','수학'])
seriesdata

국어    70
영어    50
수학    90
dtype: int64

In [54]:
seriesdata['국어'] = 80
seriesdata

국어    80
영어    50
수학    90
dtype: int64

In [55]:
seriesdata.values

array([80, 50, 90], dtype=int64)

In [56]:
seriesdata.index = ['미술', '음악', '체육']

In [57]:
print(seriesdata['미술'], seriesdata[0])

80 80

시리즈데이터삭제

In [58]:
seriesdata

미술    80
음악    50
체육    90
dtype: int64

In [59]:
del seriesdata['미술']

In [60]:
seriesdata

음악    50
체육    90
dtype: int64

In [61]:
seriesdata = pd.Series(['dave','alex','amir'])
seriesdata

0    dave
1    alex
2    amir
dtype: object

In [62]:
seriesdata = pd.Series([1,1,1])
seriesdata

0    1
1    1
2    1
dtype: int64

In [63]:
seriesdata.astype('float')

0    1.0
1    1.0
2    1.0
dtype: float64

In [64]:
seriesdata = pd.Series([True,False,True])
seriesdata

0     True
1    False
2     True
dtype: bool

데이터 프레임

In [65]:
df = pd.DataFrame({
"년도": [2000, 2010, 2020],
"미국": [2.1, 2.2, 2.3],
"한국": [0.4, 0.5, 0.45],
"중국": [10, 13, 15]
})

df

     년도   미국    한국  중국
0  2000  2.1  0.40  10
1  2010  2.2  0.50  13
2  2020  2.3  0.45  15

In [66]:
df = df.set_index('년도')
df

       미국    한국  중국
년도
2000  2.1  0.40  10
2010  2.2  0.50  13
2020  2.3  0.45  15

In [67]:
df = pd.DataFrame({
    '미국':[2.1,2.2,2.3],
    '한국':[0.4,0.5,0.45],
    '중국':[10,13,15],

}, index = [2000,2010,2020])

df

       미국    한국  중국
2000  2.1  0.40  10
2010  2.2  0.50  13
2020  2.3  0.45  15

In [68]:
df.index

Int64Index([2000, 2010, 2020], dtype='int64')

In [69]:
df.index = [2001,2010,2003]

In [70]:
df.columns

Index(['미국', '한국', '중국'], dtype='object')

In [71]:
df.columns = ['독일','프랑스','스위스']
df

       독일   프랑스  스위스
2001  2.1  0.40   10
2010  2.2  0.50   13
2003  2.3  0.45   15

In [72]:
df.values

array([[ 2.1 ,  0.4 , 10.  ],
       [ 2.2 ,  0.5 , 13.  ],
       [ 2.3 ,  0.45, 15.  ]])

## 특정칼럼 선택

In [86]:
import pandas as pd
df = pd.DataFrame({
    "년도" : [2000, 2010, 2020],
    "미국" : [2.1, 2.2, 2.3],
    "한국" : [0.4, 0.5, 0.45],
    "중국" : [10, 13, 15]
})
df

     년도   미국    한국  중국
0  2000  2.1  0.40  10
1  2010  2.2  0.50  13
2  2020  2.3  0.45  15

In [87]:
df = df.set_index('년도')
df

       미국    한국  중국
년도
2000  2.1  0.40  10
2010  2.2  0.50  13
2020  2.3  0.45  15

In [75]:
df.index.name = '년도'
df

       미국    한국  중국
년도
2000  2.1  0.40  10
2010  2.2  0.50  13
2020  2.3  0.45  15

# reset

In [76]:
df = df.reset_index('년도')
df

     년도   미국    한국  중국
0  2000  2.1  0.40  10
1  2010  2.2  0.50  13
2  2020  2.3  0.45  15

# df 접근한다

In [77]:
df = df.reset_index('년도')
df

KeyError: 'Requested level (년도) does not match index name (None)'

In [88]:
df.loc[2000]

미국     2.1
한국     0.4
중국    10.0
Name: 2000, dtype: float64

In [89]:
df.iloc[0]

미국     2.1
한국     0.4
중국    10.0
Name: 2000, dtype: float64

## 새로운 열 만들기

In [ ]:
import pandas as pd
df = pd.DataFrame({
    "년도" : [2000, 2010, 2020],
    "미국" : [2.1, 2.2, 2.3],
    "한국" : [0.4, 0.5, 0.45],
    "중국" : [10, 13, 15]
})
df

In [ ]:
type(df['미국'])

In [ ]:
df = df.set_index('년도')
df

In [ ]:
print(df['미국'][2000])

In [ ]:
print(df['한국'][2020])

In [ ]:
print(df.loc[2000]['미국'])

In [ ]:
df = pd.DataFrame({
    '년도': ['2000','2010','2020'],
    '미국':[2.1,2.2,2.30],
    '한국':[0.4,0.5,0.45],
    '중국':[10,13,15]
})

In [ ]:
df

In [ ]:
df.drop([2000])

### dataframe 컬럼선택 (복사)

### copy()

In [ ]:
import pandas as pd
df = pd.DataFrame({
    '년도': ['2000','2010','2020'],
    '미국':[2.1,2.2,2.30],
    '한국':[0.4,0.5,0.45],
    '중국':[10,13,15]
})
df

In [ ]:
df2 = df[['중국','한국']].copy
df2

In [ ]:
df2.columns = ['브라질','일,ㅎ[ㄴㅌ;니']