## 갭마인더 데이터 집합 불러오기

In [1]:
import pandas as pd
df = pd.read_csv('gapminder.tsv', sep='\t')

불러온 데이터 집합 살펴보기

In [2]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [3]:
type(df)

pandas.core.frame.DataFrame

### 갭마인더:국가별 경제 수준과 의료 수준의 동향을 정리한 데이터 집합으로 연구용도로 만들어짐

- country: 국가명
- continent: 지역
- year: 연도
- lifeExp: 생활 기대수준
- pop: 국가인구
- gdpPercap: 국가 GDP

In [4]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(1704, 6)
1704
6

### 열 단위로 데이터 추출하기

In [5]:
country_df = df['country']
print(type(country_df))

<class 'pandas.core.series.Series'>

In [6]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [7]:
subset = df[['country','continent','year']]
print(subset)
print(type(subset))

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]
<class 'pandas.core.frame.DataFrame'>

## loc속성으로 행 단위 데이터 추출하기

In [8]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [9]:
df= df.set_index('country')
print(df)

            continent  year  lifeExp       pop   gdpPercap
country
Afghanistan      Asia  1952   28.801   8425333  779.445314
Afghanistan      Asia  1957   30.332   9240934  820.853030
Afghanistan      Asia  1962   31.997  10267083  853.100710
Afghanistan      Asia  1967   34.020  11537966  836.197138
Afghanistan      Asia  1972   36.088  13079460  739.981106
...               ...   ...      ...       ...         ...
Zimbabwe       Africa  1987   62.351   9216418  706.157306
Zimbabwe       Africa  1992   60.377  10704340  693.420786
Zimbabwe       Africa  1997   46.809  11404948  792.449960
Zimbabwe       Africa  2002   39.989  11926563  672.038623
Zimbabwe       Africa  2007   43.487  12311143  469.709298

[1704 rows x 5 columns]

In [10]:
print(df.loc['Afghanistan'])

            continent  year  lifeExp       pop   gdpPercap
country
Afghanistan      Asia  1952   28.801   8425333  779.445314
Afghanistan      Asia  1957   30.332   9240934  820.853030
Afghanistan      Asia  1962   31.997  10267083  853.100710
Afghanistan      Asia  1967   34.020  11537966  836.197138
Afghanistan      Asia  1972   36.088  13079460  739.981106
Afghanistan      Asia  1977   38.438  14880372  786.113360
Afghanistan      Asia  1982   39.854  12881816  978.011439
Afghanistan      Asia  1987   40.822  13867957  852.395945
Afghanistan      Asia  1992   41.674  16317921  649.341395
Afghanistan      Asia  1997   41.763  22227415  635.341351
Afghanistan      Asia  2002   42.129  25268405  726.734055
Afghanistan      Asia  2007   43.828  31889923  974.580338

In [11]:
df = df.reset_index('country')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [12]:
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

In [13]:
print(df.iloc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [14]:
print(df.iloc[-1])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [15]:
print(df.iloc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

### 데이터 추추하기-슬라이싱구문 ,range메서드
### 슬라이싱 구문으로 데이터 추출하기

In [16]:
subset = df.loc[:,['year','pop']]
print(subset.head)

<bound method NDFrame.head of       year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]>

s

In [17]:
import pandas as pd
df = pd.read_csv('gapminder.tsv', sep='\t')

In [18]:
subset = df.loc[:,['year','pop']]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

range 메서드로 원하는 데이터 추출하기

In [19]:
smail_range = list(range(5)) # range(5)는 제너레이터로 변환 하므로

In [20]:
print(type(smail_range))

<class 'list'>

In [21]:
smail_range = df.list(range(0,6,2))
subset = df.iloc[:, smail_range]
print(subset.head())

AttributeError: 'DataFrame' object has no attribute 'list'

In [ ]:
subset = df.iloc[:, :3]
print(subset.head())

loc,iloc 속성 자유자재로 사용하기

In [ ]:
print(df.iloc[[0,99,999],[0,3,5]])

In [ ]:
print(df.loc[[0,99,999], ['country','lifeExp','gdpPercap']])

1. life exp 열을 그룹화 하여 평균 구하기

In [ ]:
print(df.groupby('year')['lifeExp'].mean())

In [ ]:
grouped = df.groupby('year')
print(grouped)

In [ ]:
print(type(grouped))

In [ ]:
exp = grouped['lifeExp']
print(exp)

In [ ]:
print(type(exp))

In [ ]:
mean_life_exp = grouped.mean()
print(mean_life_exp)

life exp 열을 그룹화 하여 한버에 구하기

In [ ]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap']].mean()

# 그룹화한 데이터의 갯수 세기
## 대륙별로 나라의 갯수 계산하기

In [24]:
df.groupby('continent')['country'].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64